body {
  margin: 0;
}
/* roboto-condensed-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-condensed-v19-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-condensed-v19-latin_cyrillic-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-condensed-v19-latin_cyrillic-300.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-condensed-v19-latin_cyrillic-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-condensed-v19-latin_cyrillic-300.svg#RobotoCondensed") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.svg#RobotoCondensed") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-v19-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url ("../fonts/roboto-condensed-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-condensed-v19-latin_cyrillic-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-condensed-v19-latin_cyrillic-700.svg#RobotoCondensed") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-mono-v8-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/pt-mono-v8-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/pt-mono-v8-latin_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/pt-mono-v8-latin_cyrillic-regular.svg#PTMono") format("svg"); /* Legacy iOS */
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.hidden-image {
  display: none;
}

.sprite {
  display: none;
}
