.page-free {
    min-height: 272px;
    width: 50%;
    color:#ffffff;
    background-color: #102654;
    padding-top: 65px;
}
.page-free__container {
    padding-left: 15.079%;
    padding-right: 24.7%;
}
.page-free__container h2 {
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    font-size: 49px;
    line-height: 63px;
    letter-spacing: 0.03em;
    margin:0;
    margin-bottom: 30px;
}
.page-free__container form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page-free input {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #74819c;
    width: 46.4%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    appearance: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}
.page-free input:hover {
    opacity: 0.7;
}
.page-free input:focus {
    border-bottom: 1px solid #ffffff;
}
.page-free input::placeholder {
    color:#ffffff;
}
.page-free button {
    width: 100%;
    min-height: 55px;
    margin-top: 28px;
    color: #ffffff;
    border: 3px solid #ffffff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}
.page-free button:hover,
.page-free button:focus {
    border-radius: 2px;
    box-shadow: 0 0 10px #ffffff;
    transition: all 0.3s;
}
@media(max-width:1199px) {
       .bottom-wrapper {
           display: flex;
           flex-direction: column;
       }
       .page-free {
        min-height: 259px;
        width: 100%;
    }
    .page-free__container {
        padding-left: 133px;
    }
    .page-free__container h2 {
        font-size: 42px;
        line-height: 42px;
    }
    .page-free input {
        width: 44.49%;
    }
}
@media(max-width:767px) {
    .page-free {
        padding-top: 70px;
        min-height: 316px;
    }
    .page-free__container {
        width: 90.6%;
        padding:0;
        margin:0 auto;
    }
    .page-free__container h2 {
        font-size: 32px;
        line-height: 32px;
    }
    .page-free form {
        flex-direction: column;
    }
    .page-free input {
        width: 100%;
        margin-bottom: 40px;
    }
    .page-free button {
        margin:0;
    }
}