.page-header {
    min-height: 658px;
    width: 100%;
    background: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
}
.page-header__container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin:0 auto;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}
.header-logo__image {
    fill: white;
}
.header-logo__image:hover {
    opacity: 0.7;
}
.header-top__phone {
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    font-size: 26px;
    line-height: 26px;
    color:#ffffff;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.header-top__phone:hover {
    opacity: 0.7;
}
.page-header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header-left {
    display: flex;
    flex-direction: column;
    width: 34.5%;
    margin:0;
}
.header-left span {
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    font-size: 49px;
    line-height: 59px;
    font-weight: 300;
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    align-self: flex-end;
    margin-top: 122px;
}
.header-left h1 {
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    font-size: 109px;
    line-height: 109px;
    font-weight: 700;
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    max-width: 300px;
    min-height: 191px;
    text-align: right;
    align-self: flex-end;
    margin:0;
}
.header-left p {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color:#ffffff;
    font-weight: 400;
    width: 113px;
    min-height: 51px;
    text-align: right;
    margin:0;
    padding-right: 20px;
    align-self: flex-end;
    margin-top: -92px;
    margin-right: 240px;
}
.header-left__button {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    width: 234px;
    min-height: 61px;
    color: #ffffff;
    border: 4px solid #ffffff;
    transition: all 0.3s;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    align-self: flex-end;
    margin-top:80px;
}
.header-left__button:hover {
    opacity: 0.6;
}
.header-middle {
    width: 48%;
    max-width: 500px;
    height: 556px;
    background-color: #1f1739;
    background-image: url("../img/header-superman-descktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
    margin-top:-1px;
}
.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    width: 12%;
    margin:0;
}
.header-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    margin:0;
    margin-bottom: 45px;
    list-style: none;
    padding:0;
}
.socials-item__link__logo {
    fill: white;
}
header .socials-item {
    margin-right: 0;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header-middle  {
        background-image: url("../img/header-superman-descktop@2x.jpg");
    }
  }
@media(max-width:1199px) {
    .page-header {
        min-height: 554px;
    }
    .page-header__container {
        width: 88.3%;
    }
    .header-top {
        padding-top: 40px;
    }
    .header-logo {
        width: 82px;
        height: 17px;
    }
    .header-logo__image {
        width: 82px;
        height: 17px;
    }
    .header-top__phone {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
    .page-header__bottom {
        margin: 0 auto;
        justify-content: center;
        width: 100%;
    }
    .header-left {
       width: auto;
        margin-right: 30px;
    }
    .header-left span {
        font-size: 34px;
        line-height: 40.8px;
        letter-spacing: 0.03em;
        margin-top:81px;
    }
    .header-left h1 {
        font-size: 86px;
        line-height: 86px;
    }
    .header-left p {
        margin-right: 181px;
        margin-top: -100px;
    } 
    .header-left__button {
        width: 187px;
        margin-top: 50px;
    }
    .header-right{
        display: none;
    }
    .header-middle {
        width: 324px;
        height: 390px;
        margin-top: 25px;
    }
    .header-middle {
        background-image: url("../img/header-superman-tablet@1x.jpg");
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .header-middle  {
            background-image: url("../img/header-superman-tablet@2x.jpg");
        }
      }
}
@media(max-width:767px){
    .page-header {
        min-height: 491px;
        background: conic-gradient(from 171.43deg at 35.31% 34.22%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    }
    .page-header__container {
        width: 90.6%;
    }
    .header-top {
        padding-top: 20px;
    }
    .header-logo {
        width: 68px;
        height: 15px;
    }
    .header-logo__image {
        width: 68px;
        height: 15px;
    }
    .header-top__phone {
        font-size: 20px;
        line-height: 20px;
    }
    .header-left {
        margin:0;
    }
    .header-left span {
        font-size: 28px;
        line-height: 33.6px;
        margin-top:80px;
    }
    .header-left h1 {
        font-size: 78px;
        line-height: 78px;
        font-weight: bold;
    }
    .header-left p {
        margin-right: 160px;
        margin-top: -112px;
    }
    .header-left__button {
        width: 100%;
    }
    .header-middle {
        display: none;
    }
}