.page-about {
  background: url("../img/geometry-desktop@1x.png") no-repeat;
  background-size: cover;
  min-height: 398px;
  padding-bottom: 20px;
}

.page-about__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 61%;
  box-sizing: border-box;
  background: url("../img/2005-desktop@1x.png") no-repeat;
  background-size: contain;
  background-position: -24px 8px;
}

.page-about h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 180px;
}

.page-about p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  margin: 0;
  max-width: 87%;
  margin-left: 180px;
  height: inherit;
  margin-bottom: 39px;
}

.page-about p:nth-child(3n) {
  display: block;
}

.page-about p:nth-child(2n) {
  display: none;
}

.page-about p:first-of-type {
  display: block;
  margin-bottom: 25px;
}

.page-about__more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #00b2ff;
  align-self: flex-start;
  width: 180px;
  height: 45px;
  border: 1px solid #00b2ff;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 180px;
}

.page-about__more:hover {
  color: #1288bb;
  border: 1px solid #1288bb;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-about {
    background: url("../img/geometry-desktop@2x.png") no-repeat;
  }

  .page-about__wrapper {
    background-image: url("../img/2005-desktop@2x.png");
  }
}

@media (max-width: 1023px) {
  .page-about {
    padding-bottom: 31px;
  }

  .page-about__wrapper {
    background: url("../img/2005-tablet@1x.png") no-repeat;
    width: 93.5%;
    background-position: -25px 2px;
    background-size: contain;
  }

  .page-about h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 20px;
    margin-left: 185px;
  }

  .page-about p {
    margin-left: 185px;
  }

  .page-about p:nth-child(2n) {
    display: block;
  }

  .page-about p:nth-child(3n) {
    display: none;
  }

  .page-about p:first-of-type {
    margin-bottom: 27px;
    display: block;
  }

  .page-about__more {
    margin-left: 188px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-about__wrapper {
      background-image: url("../img/2005-tablet@2x.png");
      background-size: contain;
    }
  }
}

@media (max-width: 767px) {
  .page-about {
    padding-top: 10px;
    padding-bottom: 65px;
  }

  .page-about__wrapper {
    background: none;
    width: 90.6%;
  }

  .page-about h2 {
    font-size: 28px;
    line-height: 39px;
    width: 100%;
    margin: 0;
    margin-bottom: 22px;
  }

  .page-about p {
    margin: 0;
    min-width: 100%;
    margin-bottom: 33px;
  }

  .page-about p:first-of-type {
    margin-bottom: 47px;
  }

  .page-about__more {
    margin-left: 0;
  }
}
