.page-advantages {
    background: #F8F9FC;
    position: relative;
}
.page-advantages__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 76%;
    margin:0 auto;
    padding-top: 110px;
    padding-bottom: 120px;
}
.page-advantages__wrapper h2 {
    font-family: 'Bebas Neue', 'Arial', sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color:rgba(16, 38, 84, 1);
    margin:0;
    min-width: 100%;
    text-align: center;
    margin-bottom: 65px;
}
.advantages-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 1039px;
    min-height: 71px;
    padding:0;
    margin:0;
}
.advantages-left {
    position: relative;
    margin-bottom: 150px;
}
.advantages-right {
    position: relative;
}
.advantages-item {
    display: flex;
}
.advantages-item__figure {
    margin:0;
    margin-left: 25px;
}
.advantages-item figcaption {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #2E35AC;
    margin-top: 0;
}
.advantages-item__description {
    margin-left: 30px;
}
.advantages-item__description h3 {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 33px;
    color: #102654;
    font-weight: 700;
    margin:0;
}
.advantages-item__description p {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #102654;
    margin:0;
}
.advantages-left p {
    max-width: 226px;
    height: auto;
}
.advantages-right p {
    max-width: 227px;
    height: auto;
}
.advantages-middle {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 307px;
    min-width: 240px;
    background-color: #1C3374;
    top:230px;
}
.advantages-middle h3 {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 74px;
    line-height: 97px;
    font-weight: 700;
    color: #ffffff;
    margin:0;
    margin-top: 30px;
}
.advantages-middle h4 {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 26px;
    line-height: 39px;
    font-weight: 700;
    color: #ffffff;
    margin:0;
    margin-bottom: 30px;
}
.advantages-middle p {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin:0;
    text-align: center;
    max-width: 172px;
    height: auto;
}
.advantages-left::before {
    content: '';
    position: absolute;
    width: 330px;
    height: 2px;
    background-color: lightpink;
    opacity: 0.2;
    top:153px;
    left:1px;
    z-index: 10;
}
.advantages-right::before {
    content: '';
    position: absolute;
    width: 330px;
    height: 2px;
    background-color: lightpink;
    opacity: 0.2;
    top:-73px;
    right:1px;
    z-index: 10;
}
@media(max-width:1199px) {
    .page-advantages__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin:0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .advantages-list {
        min-height: 62px;
        max-width: 95%;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        min-height: 70px;
    }
    .advantages-left {
        margin-left: 45px;
        margin-right: 35px;
        margin-bottom: 341px;
    }
    .advantages-right {
        margin-left: 45px;
        margin-right: 35px;
    }
    .advantages-item {
        margin-right: 0;
    }
    .advantages-item__description h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .advantages-left::before {
        display: none;
    }
    .advantages-right::before {
        display: none;
    }
    .advantages-middle {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 239px;
        min-width: 442px;
        background-color: #1C3374;
        align-self: center;
        top: 330px;
        margin-left: -215px;
        left:50%;
    }
    .advantages-middle h3 {
        margin-top: 5px;
        line-height: 105px;
    }
    .advantages-middle h4 {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 20px;
    }
}
@media(max-width:767px) {
    .page-advantages__wrapper {
        padding-top:70px;
        padding-bottom: 70px;
        position: relative;
    }
    .page-advantages__wrapper h2 {
        font-size: 32px;
        line-height: 32px;
    }
    .advantages-list {
        min-height: 62px;
        max-width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        min-height: auto;
    }
    .advantages-left {
        margin:0;
        margin-bottom: 270px;
    }
    .advantages-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .advantages-item figcaption {
        text-align: center;
    }
    .advantages-item__description {
        margin:0;
    }
    .advantages-middle {
        left:0;
        right:0;
        top:545px;
        margin:0;
        max-width: 100%;
        min-width: 100%;
    }
}